/*
COLORS
*/
/*
    Screen Sizes
*/
/*
    Global Reset
*/
* {
  margin: 0;
  padding: 0; }
  *, *::before, *::after {
    box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777; }

.heading-primary {
  font-size: 4rem;
  color: #fff;
  letter-spacing: 2px; }
  .heading-primary__top {
    display: inline-block; }
    .heading-primary__top--highlight {
      color: #ffc300; }
  .heading-primary__bottom {
    display: block; }

.heading-subtitle {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px; }

.heading-secondary {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.8rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.text-dark {
  color: #000; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px; }

.btn--yellow {
  color: #fff;
  background: #ffc300;
  border-radius: 5rem;
  border: 2px solid transparent;
  transition: all 0.3s;
  margin-top: 2rem; }
  .btn--yellow:hover {
    border-color: #ffc300;
    background: transparent;
    color: #ffc300; }
  .btn--yellow:focus, .btn--yellow:active {
    transform: translateY(2px); }

.about__info {
  display: flex;
  margin-bottom: 1.8rem; }
  @media only screen and (max-width: 31.25em) {
    .about__info {
      flex-direction: column; } }
  .about__info-img img {
    width: 18rem;
    height: auto;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 31.25em) {
      .about__info-img img {
        width: 100%;
        margin-bottom: 2rem; } }
  .about__info-text {
    padding: 0 2.5rem; }
    @media only screen and (max-width: 31.25em) {
      .about__info-text {
        padding: 0;
        margin-bottom: 2rem; } }
  .about__info-headline {
    color: #333;
    font-weight: 600; }
  .about__info-desc {
    font-size: 1.5rem; }
  .about__info .readmore {
    display: block;
    color: #ffc300;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: transform 0.2s; }
    .about__info .readmore:hover {
      transform: translateX(3px); }

.projects__list {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .projects__list {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 31.25em) {
    .projects__list {
      flex-direction: column; } }

.projects__item {
  width: 24%;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.3s;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .projects__item {
      width: 45%;
      height: 25rem; }
      .projects__item:not(:last-child) {
        margin-bottom: 3.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .projects__item {
      width: 100%; } }
  .projects__item-icon {
    padding: 0.8rem;
    background-color: #ffc300;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .projects__item-icon-svg {
      width: 1.8rem;
      height: 1.8rem;
      fill: #fff; }
  .projects__item img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .projects__item-title {
    font-size: 1.8rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s; }
    @media only screen and (max-width: 37.5em) {
      .projects__item-title {
        font-size: 2.2rem; } }
  .projects__item:hover {
    border-color: #ffc300;
    background-color: #000; }
    .projects__item:hover img {
      opacity: 0.5;
      filter: grayscale(90%); }
  .projects__item:hover .projects__item-icon {
    display: inline-block; }
  .projects__item:hover .projects__item-title {
    opacity: 1;
    visibility: visible;
    transform: translateY(-4rem); }
  .projects__item:active {
    transform: scale(1.08); }

.clients__list {
  padding: 2rem 15rem;
  background-color: #ffc300;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .clients__list .client {
    width: 15%; }
    .clients__list .client img {
      width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .clients__list .client {
        width: 25%; } }
    @media only screen and (max-width: 31.25em) {
      .clients__list .client {
        width: 35%; } }
  @media only screen and (max-width: 56.25em) {
    .clients__list {
      padding: 1.5rem 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .clients__list {
      padding: 1rem 2rem;
      flex-wrap: wrap; } }

.clients__quote {
  padding: 8rem 15rem;
  background-color: rgba(204, 204, 204, 0.3);
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .clients__quote {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .clients__quote {
      padding: 5rem 8rem;
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .clients__quote {
      padding: 5rem; } }

.clients__box {
  width: 32%;
  position: relative;
  background: #fff;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  padding-top: 4rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .clients__box {
      width: 100%; } }
  .clients__box:not(:last-child) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .clients__box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  .clients__box-heading {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.8rem;
    color: #000;
    position: relative;
    z-index: 2; }
  .clients__box-text {
    text-align: justify;
    font-size: 1.2rem; }
  .clients__box-client {
    margin-top: 1rem;
    text-align: right; }
    .clients__box-client-name {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .clients__box-client-title {
      font-size: 1rem;
      font-weight: 300;
      text-transform: capitalize;
      letter-spacing: 0.8px; }
  .clients__box::before {
    content: "\201C";
    position: absolute;
    font-size: 25rem;
    padding-bottom: 0;
    margin: 0;
    line-height: 1;
    top: -3rem;
    left: -1rem;
    overflow: hidden;
    z-index: 1;
    color: #f4f2f2; }
  .clients__box:hover {
    transform: translateY(-1rem); }

.contact-box {
  padding: 3rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .contact-box {
      padding: 2.5rem 12rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact-box {
      padding: 2.5rem 8rem; } }
  @media only screen and (max-width: 31.25em) {
    .contact-box {
      padding: 2rem 5rem;
      flex-wrap: wrap; } }
  .contact-box__title {
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 600; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__title {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact-box__title {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 31.25em) {
      .contact-box__title {
        width: 95%;
        margin-bottom: 1rem; } }
  .contact-box__input {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    width: 50%;
    border: 2px solid #ccc; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__input {
        width: 40%; } }
    @media only screen and (max-width: 31.25em) {
      .contact-box__input {
        width: 50%;
        padding: 0.8rem;
        font-size: 1rem; } }
    .contact-box__input:focus {
      outline: none; }
  .contact-box__btn {
    color: #fff;
    background-color: #ffc300;
    border-radius: 0;
    margin-top: 0;
    transition: all 0.1s; }
    .contact-box__btn, .contact-box__btn:link, .contact-box__btn:visited {
      font-size: 1.4rem;
      margin-left: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .contact-box__btn, .contact-box__btn:link, .contact-box__btn:visited {
          padding: 0.8rem 2rem;
          font-size: 1rem; } }
    .contact-box__btn:hover {
      transform: translateX(-2px); }

.queries__header {
  font-size: 2rem;
  border-bottom: 1px solid #ffc300;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .queries__header {
      margin-top: 2rem; } }

.queries__solutions-list {
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.queries__contact {
  font-size: 1.5rem;
  font-weight: 400; }

.queries__insta {
  width: 33%; }
  @media only screen and (max-width: 56.25em) {
    .queries__insta {
      width: 40%; } }
  @media only screen and (max-width: 37.5em) {
    .queries__insta {
      width: 100%; } }
  .queries__insta-stories {
    display: flex;
    flex-wrap: wrap; }
    .queries__insta-stories > * {
      flex: 0 0 30%;
      margin-bottom: 1rem;
      margin-right: 1rem; }
      .queries__insta-stories > * img {
        width: 100%;
        height: auto; }
      @media only screen and (max-width: 56.25em) {
        .queries__insta-stories > * {
          margin-right: .5rem; } }

/* ///////////////////////
    Header
////////////////////////// */
.header {
  width: 100%;
  position: fixed;
  z-index: 10; }
  .header__top {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    background: #ccc;
    color: #777;
    font-size: 1.4rem;
    letter-spacing: 1px; }
    @media only screen and (max-width: 31.25em) {
      .header__top {
        display: none; } }
    .header__top-btn {
      cursor: pointer; }
      .header__top-btn:hover {
        color: #fff; }
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 1rem 0;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        flex-direction: column; } }
  .header__logo {
    cursor: pointer; }
    .header__logo img {
      width: 20rem; }
  .header__menu-list {
    list-style: none; }
  .header__menu-item {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    backface-visibility: hidden;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 0.3s; }
    @media only screen and (max-width: 68.75em) {
      .header__menu-item {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 31.25em) {
      .header__menu-item {
        font-size: 1.2rem; } }
    .header__menu-item:hover {
      border: 1px solid #ccc;
      box-shadow: inset 4px 2px 8px; }
    .header__menu-item:active, .header__menu-item:focus {
      box-shadow: inset 2px 1px 4px;
      transform: scale(1.05); }
  .header__menu-link {
    text-decoration: none;
    color: #333; }

main {
  padding-top: 10rem; }

/* ///////////////////////
    HOME
////////////////////////// */
.home {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)), url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  padding: 2.5rem;
  position: relative;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%; }
  .home__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* ///////////////////////
    ABOUT
////////////////////////// */
.about {
  padding: 10rem 15rem;
  display: flex;
  font-size: 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 5rem 8rem;
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .about {
      padding: 5rem 3rem 3rem 3rem; } }
  .about__left {
    flex: 0 0 50%;
    padding-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .about__left {
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 5rem; } }

/* ///////////////////////
    Services
////////////////////////// */
.services {
  display: flex;
  justify-content: space-evenly;
  padding: 8rem 15rem; }
  @media only screen and (max-width: 56.25em) {
    .services {
      padding: 5rem 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .services {
      flex-direction: column; } }
  .services__item {
    width: 30%;
    text-align: center;
    transition: transform .8s;
    cursor: pointer;
    background: #fff;
    overflow: hidden; }
    .services__item img {
      width: 100%;
      height: 20rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      border-radius: .8rem; }
      @media only screen and (max-width: 37.5em) {
        .services__item img {
          height: auto; } }
    .services__item h3 {
      font-size: 2.5rem;
      font-weight: 300;
      background: #fff;
      transition: all .5s .1s; }
    .services__item:hover {
      transform: scale(1.1) translateY(-10px); }
    .services__item:hover h3 {
      transform: translateY(-8rem) rotate(-5deg);
      width: 110%;
      margin-left: -15px;
      color: #000;
      font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .services__item {
        width: 100%; }
        .services__item:not(:last-child) {
          margin-bottom: 3.5rem; } }

/* ///////////////////////
    PROJECTS
////////////////////////// */
.projects {
  padding: 8rem 15rem;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../img/bg2.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding: 5rem 8rem; } }

/* /////////////////////////
  QUERIES
////////////////////////// */
.queries {
  padding: 8rem 15rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .queries {
      padding: 5rem 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .queries {
      flex-direction: column; } }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffc300;
  padding: 2rem 8rem;
  color: #000;
  font-size: 1.5rem;
  margin-top: -2rem; }
  .footer .copytext span {
    display: inline-block;
    font-size: 110%;
    transform: rotate(180deg); }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 2rem 5rem;
      font-size: 1.2rem; } }
